.header__container {
    display: flex;
    flex-direction: column;
    
    gap: 2rem;

    padding: 2rem 0rem;
  
    width: 100%;
    overflow-x: hidden;

}

.header-title__container > h1 {
    font-size: 2.6rem;
    padding: 0rem 5%;
}
.header-slides__container {
    display: flex;
    width: 400%;
    height: 100%;
    
    
}

.header-slides__container > input {
    display: none;
}

.slide {
    text-align: center;
    width: 25%;
    position: relative;
    transition: 1s linear;
}

.slide img {
    width: 90%;

    border-radius: 1rem;
}

.manual-navigation {
    position: absolute;
    width: 80rem;
    margin-top: -4rem;
    display: flex;
    justify-content: center;
}




#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -25%;
}

#radio3:checked ~ .first {
    margin-left: -50%;
}

#radio4:checked ~ .first {
    margin-left: -75%;
}

#radio56:checked ~ .first {
    margin-left: -100%;
}

#radio:checked ~ .first {
    margin-left: -125%;
}


@media screen and (min-width: 768px) {
    .header-title__container > h1 {
        font-size: 4rem;
        padding: 0rem 5%;
    }
    
}

@media screen and (min-width: 900px) {
    
    
    .header-title__container > h1 {
        font-size: 4rem;
        padding: 0rem 10%;
    }
    .header-slides__container {
        display: flex;
        width: 400%;
        height: 100%;
        
        
    }
    
    .header-slides__container > input {
        display: none;
    }
    
    .slide {
        text-align: center;
        width: 25%;
        height: 100%;
        position: relative;
        transition: 1s linear;
    }
    
    .slide img {
        width: 80%;
        height: 45rem;
    
        border-radius: 1rem;
    }
    
}


@media screen and (min-width: 1200px) {
    
    
    .header-title__container > h1 {
        font-size: 4rem;
        padding: 0rem 10%;
    }
    .header-slides__container {
        display: flex;
        width: 400%;
        height: 100%;
        
        
    }
    
    .header-slides__container > input {
        display: none;
    }
    
    .slide {
        text-align: center;
        width: 25%;
        height: 100%;
        position: relative;
        transition: 1s linear;
    }
    
    .slide img {
        width: 80%;
        height: 70rem;
    
        border-radius: 1rem;
    }
    
}